/* 
    Document   : thumbnail.css
    Created on : Apr 30, 2010, 12:27:50 AM
    Author     : Grodriguez
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

img.thumbnail {
    max-height: 200px;
    max-width: 200px;
    border-width: 1px;
    border-style: solid;
}

.thumbnail-container {
    padding: 15px;
    border-style: dotted;
    border-width: 1px;
    height: 200px;
    width: 200px;
    background-color: white;
    float: left;
}

.caption-container {
    width: 200px;
    text-align: center;
}