/* 
    Document   : thumbnail.css
    Created on : Apr 30, 2010, 12:27:50 AM
    Author     : Grodriguez
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

img.thumbnail {
    max-height: 100%;
    max-width: 100%;
    border-width: 1px;
    border-style: solid;
}

img.popup {
    max-height: 80%;
    max-width: 80%;
    border-width: 10px;
    border-color: white;
    border-style: solid;
    z-index: 1000;
    position: fixed;
    top: 10%;
    left: 10%;
}

.thumbnail-container {
    padding: 15px;
    border-style: dotted;
    border-width: 1px;
    height: 200px;
    width: 200px;
    background-color: white;
    float: left;
}

.caption-container {
    width: 200px;
    text-align: center;
}